#///////////////////////////
# Cocos Creator 3D Project
#///////////////////////////
library/
temp/
local/
build/
profiles/
native
#//////////////////////////
# NPM
#//////////////////////////
node_modules/

#//////////////////////////
# VSCode
#//////////////////////////
.vscode/

#//////////////////////////
# WebStorm
#//////////////////////////
.idea/

assets/Sprites/2.png
assets/Sprites/3.png
assets/Sprites/4.png
assets/Sprites/5.png
assets/Sprites/6.png
assets/Sprites/7.png
assets/Sprites/8.png
assets/Sprites/9.png